body {
    font-family: "Roboto", sans-serif;
}

.alert-light {
    background-color: #F7F7F7;
    font-size: 0.9rem;
}

.alert-top {
    margin-bottom: 0;
}

.alert-light a {
    color: #000;
    text-decoration: underline;
}

a.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    font-size: 0.8rem;
}

.nav-item.btn a {
    text-decoration: none;
}

.nav-item a {
    background-color: white;
    transition: ease-in-out 0.3s all;
}

.nav-item a:hover {
    background-color: #f0f0f0;
}

.nav-item.btn {
    transition: ease-in-out 0.3s all;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
}

.nav-item.btn:hover {
    background-color: #f8f8f8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
}

.input-group-field {
    min-width: 33%;
    max-width: 33%;
    border-style: inset;
    border-width: 2px;
    border-color: transparent;
    border-radius: 8px;
    transition: ease-in-out 0.3s all;
}

.input-group-field:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.25);
}

.input-group-field:hover label {
    cursor: pointer;
}

.input-field {
    transition: ease-in-out 0.3s all;
    border-style: solid;
    border-width: 2px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.25);
}

.input-group-field:hover .input-field {
    border-color: transparent;
}

.input-field input {
    width: 90%;
}

.input-field input:focus {
    border: none;
    outline: none;
}

.input-field.no-border {
    border: none;
    outline: none;
}

.label-search {
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
}

.card {
    height: 530px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
}

.card-img-top {
    position: relative;
    margin-top: -40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 250px;
}

#cards:last-child {
    margin-bottom: 120px;
}

.card-top-title {
    z-index: 1;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    height: 40px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 78.65%, rgba(0, 0, 0, 0) 100%);
}

.card-top-title a {
    color: white;
    height: 16px;
}

.card img {
    z-index: 0;
    transition: ease-in-out 0.3s all;
}

.card img:hover {
    z-index: 2;
    transform: scale(1.025);
}

.card-title span {
    font-size: 0.8rem;
}

.card-subtitle {
    text-align: justify;
    line-height: 1.5;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.fa-heart {
    transition: ease-in-out 0.3s all;
}

.fa-heart:hover {
    color: #D70466;
}

.btn-airbnb-radial {
    color: white;
    font-size: 0.9rem;
    min-width: 100px;
    background-size: 200% 200% !important;
    background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
}

.btn-airbnb-radial:hover {
    background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100%) !important;
    color: white;
}

.btn-airbnb-radial i {
    font-size: 0.9rem;
}

.card-reserve {
    height: 36px;
}

.card-detail {
    height: 30px;
    min-width: 100px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-show-more a {
    font-size: 0.8rem;
    color: black;
    text-decoration: underline;
}

.card-show-more a:hover {
    transition: ease-in-out 0.3s all;
    font-size: 0.85rem;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

footer {
    background-color: #FD595F;
    text-align: center;
}

footer > h4, a{
    color: #FFF;
}